.form-div {
    border: 1px solid rgb(48, 46, 46);
    padding: 15px;
}

.parent-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 17rem;
    background-color: rgb(68, 223, 68);
}

.nav {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px #888888;
}
h1{
    margin: 0;
    padding: 0;  
}